.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;

  &--margin {
    margin-top: 6.75rem;
    margin-bottom: 4rem;
  }
}


.container {
  margin: auto;
  min-width: 20rem;
  max-width: 40rem;
}

.flex {
  display: flex;
  justify-content: center;
}

.btn {
  font-size: 1rem;
  color: white !important;
  justify-self: start;
  align-self: self-start;
  background:var(--color-theme) !important ;

  padding: 0.5rem;

  &:disabled{
    background: gray !important;
  }
}


:root {
  --color-theme: #00BBD3;
}
